{% extends "base.html" %}

{% block main %}
    
    {% for p in prop %}
        <div class = "card">
            <div class =  "cards">
                
                <img src="{{ url_for('property_image',imgname=''+p.photo) }}" class = mainimg>
                
                <div class = "card-info">
                <h4>{{p.title}}</h4>
                <h6 class = "location"><img src = "/static/location.png" class ='pin'>      {{p.location}}</h6>
                <p class = "price">{{p.price}}</p>
                </div>
                <div class = "card-btn">
                    <a class = "property" href = "{{url_for('propid',propertyid=p.id)}}">View Property</a>
                </div>
                
                
            </div>
        </div>
    {% endfor %}
{% endblock %}